<html>
  <head>
    {% if title %}
    <title>{{title}} - market</title>
    {% else %}
    <title>market</title>
    {% endif %}
         <style>
   body {
    background: url(images/hand.png) repeat-y,
                url(http://kotomatrix.ru/images/lolz/2009/02/23/6z.jpg) repeat-y 100% 0;
   }
  </style>
  </head>
  <body>
    <div>Market:
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('user', nickname = current_user.nickname) }}">Your Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>

    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>