<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop(продаем только молоко)</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<table>
            <tr><td>Молоко(лучшее в Москве)</td>
            </tr>
            <tr>
                <td>price</td>
                <td><input type="text" name = "price"></td>
            </tr>
             <tr><td>mount</td>
                <td><input type="text" name = "mount"></td>
            </tr>
            <tr><td>category(Food)</td>
                <td><input type="text" name = "category"></td>
            </tr>
            <tr>
                <td>payment_method(if card write"1" else "0".</td>
                <td><input type="text" name = "payment_method"></td>
            </tr>
        </table>
    <p><input type = "submit" value = "submit" /></p>
<p>это все передается и записывается в чек(ах, если бы)</p>
{% endblock %}
</body>
</html>