<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<form action = "" method = "post">
    <table>
            <tr>
                <td>name: {{product.name}}</td>

            </tr>
            <tr>
                <td>price: {{product.price}}</td>
            </tr>
             <tr>
                 <td>description: {{product.description}}</td>
            </tr>
            <tr>
                <td>name: {{product.name}}</td>
                </tr>
            <tr>
                <td>Введите количество товара</td>

                <td><input type="number" name = "mount"></td>
            </tr>
            <tr>
                <td>payment_method(if card write"1" else "0".)</td>

                <td><input type="number" name = "payment_method"></td>
            </tr>
            <tr>
                <td><input type = "submit" value = "купить" /></td>
            </tr>

        </table>
</form>


{% endblock %}
</body>
</html>