<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop {{market.name}}</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
  {% for product in products %}
        <table>


            <tr>
                <td>name: {{product.name}}</td>

            </tr>
            <tr>
                <td>price: {{product.price}}</td>
            </tr>
             <tr>
                 <td>description: {{product.description}}</td>
            </tr>
            <tr>
                <td>name: {{product.name}}</td>
                </tr>

            <tr>
                <td><button><a href="{{ url_for('product', id = product.id) }}">Купить</a></button></td>
            </tr>
        </table>
        <hr/>
    {% endfor %}
 <div id="footer" style="position: fixed; left: 2; bottom: 0" >
            <h4>Информация о магазине</h4>
            <p>name: {{market.name}}</p>
            <p>address: {{market.address}}</p>
            <p>phone_number: {{market.phone_number}}</p>

  </div>
{% endblock %}

</body>
</html>