<!DOCTYPE html>
<html lang="en">
<head>
    <title>market</title>

</head>
<body>
{% extends "base.html" %}
{% block content %}
{% for check in checks%}
   <table>
            <tr>
                <td>Чек от {{check.times}}</td>
            </tr>
            <tr>
                <td>product: {{check.product}}</td>
            </tr>
            <tr>
                <td>price: {{check.price}}</td>
            </tr>
             <tr>
                 <td>mount: {{check.mount}}</td>
            </tr>
            <tr>
                <td>category: {{check.category}}</td>
            </tr>
            <tr>
                <td>payment_method: {{check.payment_method}}</td>
            </tr>
        </table>
<hr/>
{% endfor %}
{% endblock %}
</body>
</html>