<!DOCTYPE html>
<html lang="en">
<head>
    <title>checks</title>

</head>
<body>
{% extends "base.html" %}
{% block content %}
{% for check in checks%}
<div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Чек от {{check.times}}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">product: {{check.product}}</li>
                <li class="list-group-item">price: {{check.price}}</li>
                <li class="list-group-item">mount: {{check.mount}}</li>
                <li class="list-group-item">category: {{check.category}}</li>
                <li class="list-group-item">payment_method: {{check.payment_method}}</li>
              </ul>
            </div>
    <br>
    <br>
          </div>
{% endfor %}
{% endblock %}
</body>
</html>