<html>
  <head>
    <title>index</title>
  </head>
   <body>
 {% extends "base.html" %}
{% block content %}
<div class="bd-example">
        <p class="display-1">Возьмите меня в Рту Лаб, пожалуйста</p>
        <p class="display-2">Возьмите меня в Рту Лаб, пожалуйста</p>
        <p class="display-3">Возьмите меня в Рту Лаб, пожалуйста</p>
        <p class="display-4">Возьмите меня в Рту Лаб, пожалуйста</p>
        <p class="display-5">Возьмите меня в Рту Лаб, пожалуйста</p>
        <p class="display-6">Возьмите меня в Рту Лаб, пожалуйста</p>
        </div>
{% endblock %}
 </body>
</html>